USE [master]
GO
/****** Object:  Database [BoatManagement]    Script Date: 6/12/2018 1:45:32 PM ******/
CREATE DATABASE [BoatManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BoatManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BoatManagement.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BoatManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BoatManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BoatManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BoatManagement]
GO
/****** Object:  Table [dbo].[Boat]    Script Date: 6/12/2018 1:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IMO] [nchar](10) NOT NULL,
	[MMSI] [nchar](9) NULL,
	[IDNational] [int] NULL,
	[IDTypeBoat] [int] NULL,
	[Volume] [float] NULL,
	[Tonnage] [float] NULL,
	[High] [float] NULL,
	[Length] [float] NULL,
	[Status] [bit] NOT NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_Boat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BoatLostInfor]    Script Date: 6/12/2018 1:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoatLostInfor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LastConnect] [datetime] NULL,
	[Longitude] [float] NULL,
	[Latitude] [float] NULL,
	[IDJourney] [int] NULL,
	[Status] [bit] NULL,
	[IDBoat] [int] NULL,
	[Ocean] [nvarchar](50) NULL,
 CONSTRAINT [PK_BoatLostInfor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Journey]    Script Date: 6/12/2018 1:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journey](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDBoat] [int] NULL,
	[BeginPosition] [int] NULL,
	[EndPosition] [int] NULL,
	[TimeProvide] [float] NULL,
	[TimeBegin] [datetime] NULL,
	[TimeEnd] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Journey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[National]    Script Date: 6/12/2018 1:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[National](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_National] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parameter]    Script Date: 6/12/2018 1:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPosition] [int] NULL,
	[Speed] [float] NULL,
	[Waterlevel] [float] NULL,
	[Wind] [float] NULL,
	[Weather] [nvarchar](50) NULL,
 CONSTRAINT [PK_Parameter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Port]    Script Date: 6/12/2018 1:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Port](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Longitude] [float] NULL,
	[Latitude] [float] NULL,
	[ID_Nation] [int] NULL,
	[Ocean] [varchar](50) NULL,
 CONSTRAINT [PK_Port] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Position]    Script Date: 6/12/2018 1:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Position](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDJourney] [int] NULL,
	[Longitude] [float] NULL,
	[Latitude] [float] NULL,
	[Time] [datetime] NULL,
	[Oceans] [varchar](50) NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TypeBoat]    Script Date: 6/12/2018 1:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TypeBoat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [char](50) NULL,
 CONSTRAINT [PK_TypeBoat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/12/2018 1:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Account] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Boat] ON 

SET IDENTITY_INSERT [dbo].[Boat] OFF
SET IDENTITY_INSERT [dbo].[BoatLostInfor] ON 

INSERT [dbo].[BoatLostInfor] ([ID], [LastConnect], [Longitude], [Latitude], [IDJourney], [Status], [IDBoat], [Ocean]) VALUES (2, CAST(N'2018-06-09 17:33:43.367' AS DateTime), 108.69999694824219, 17.5, 6, 1, 3, N'Pacific Ocean')
SET IDENTITY_INSERT [dbo].[BoatLostInfor] OFF
SET IDENTITY_INSERT [dbo].[Journey] ON 

INSERT [dbo].[Journey] ([ID], [IDBoat], [BeginPosition], [EndPosition], [TimeProvide], [TimeBegin], [TimeEnd], [Status]) VALUES (1, 3, 1, 2, 24, CAST(N'2018-02-02 10:20:00.000' AS DateTime), CAST(N'2018-02-03 22:00:00.000' AS DateTime), 1)
INSERT [dbo].[Journey] ([ID], [IDBoat], [BeginPosition], [EndPosition], [TimeProvide], [TimeBegin], [TimeEnd], [Status]) VALUES (5, 4, 9, 10, 24, CAST(N'2018-06-09 10:26:35.000' AS DateTime), CAST(N'2018-06-09 10:26:35.817' AS DateTime), 0)
INSERT [dbo].[Journey] ([ID], [IDBoat], [BeginPosition], [EndPosition], [TimeProvide], [TimeBegin], [TimeEnd], [Status]) VALUES (6, 3, 2, 1, 24, CAST(N'2018-02-02 10:20:00.000' AS DateTime), CAST(N'2018-02-03 22:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Journey] OFF
SET IDENTITY_INSERT [dbo].[National] ON 

SET IDENTITY_INSERT [dbo].[National] OFF
SET IDENTITY_INSERT [dbo].[Parameter] ON 

INSERT [dbo].[Parameter] ([ID], [IDPosition], [Speed], [Waterlevel], [Wind], [Weather]) VALUES (1, 19, 2, 234, 14, N'Rain')
INSERT [dbo].[Parameter] ([ID], [IDPosition], [Speed], [Waterlevel], [Wind], [Weather]) VALUES (2, 30, 2, 234, 34, N'Rain')
INSERT [dbo].[Parameter] ([ID], [IDPosition], [Speed], [Waterlevel], [Wind], [Weather]) VALUES (3, 38, 2, 234, 23, N'No rain')
SET IDENTITY_INSERT [dbo].[Parameter] OFF
SET IDENTITY_INSERT [dbo].[Port] ON 

INSERT [dbo].[Port] ([ID], [Name], [Longitude], [Latitude], [ID_Nation], [Ocean]) VALUES (1, N'Hải Phòng', 106.80000305175781, 20.799999237060547, 1, N'Pacific Ocean')
INSERT [dbo].[Port] ([ID], [Name], [Longitude], [Latitude], [ID_Nation], [Ocean]) VALUES (2, N'Đà nẵng', 108.3, 16.1, 1, N'Pacific Ocean')
INSERT [dbo].[Port] ([ID], [Name], [Longitude], [Latitude], [ID_Nation], [Ocean]) VALUES (3, N'Bayuquan', 122.09, 33.22, 4, N'Pacific Ocean')
SET IDENTITY_INSERT [dbo].[Port] OFF
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([ID], [IDJourney], [Longitude], [Latitude], [Time], [Oceans]) VALUES (10, 5, 76.139999389648438, 9.5799999237060547, CAST(N'2018-06-09 10:27:09.150' AS DateTime), N'Indian Ocean')
INSERT [dbo].[Position] ([ID], [IDJourney], [Longitude], [Latitude], [Time], [Oceans]) VALUES (11, 1, 106.9, 20.3, CAST(N'2018-02-02 11:00:00.000' AS DateTime), N'Pacific Oceans')
INSERT [dbo].[Position] ([ID], [IDJourney], [Longitude], [Latitude], [Time], [Oceans]) VALUES (12, 1, 107, 19.9, CAST(N'2018-02-02 12:00:00.000' AS DateTime), N'Pacific Oceans')
SET IDENTITY_INSERT [dbo].[Position] OFF
SET IDENTITY_INSERT [dbo].[TypeBoat] ON 

INSERT [dbo].[TypeBoat] ([ID], [Name]) VALUES (1, N'Container                                         ')
INSERT [dbo].[TypeBoat] ([ID], [Name]) VALUES (2, N'Bulk cariers                                      ')
INSERT [dbo].[TypeBoat] ([ID], [Name]) VALUES (3, N'General cargo vesels                              ')
SET IDENTITY_INSERT [dbo].[TypeBoat] OFF
INSERT [dbo].[User] ([Account], [Password]) VALUES (N'admin', N'trinh')
ALTER TABLE [dbo].[Boat]  WITH CHECK ADD  CONSTRAINT [FK_Boat_National] FOREIGN KEY([IDNational])
REFERENCES [dbo].[National] ([ID])
GO
ALTER TABLE [dbo].[Boat] CHECK CONSTRAINT [FK_Boat_National]
GO
ALTER TABLE [dbo].[Boat]  WITH CHECK ADD  CONSTRAINT [FK_Boat_TypeBoat] FOREIGN KEY([IDTypeBoat])
REFERENCES [dbo].[TypeBoat] ([ID])
GO
ALTER TABLE [dbo].[Boat] CHECK CONSTRAINT [FK_Boat_TypeBoat]
GO
ALTER TABLE [dbo].[Journey]  WITH CHECK ADD  CONSTRAINT [FK_Journey_Boat] FOREIGN KEY([IDBoat])
REFERENCES [dbo].[Boat] ([ID])
GO
ALTER TABLE [dbo].[Journey] CHECK CONSTRAINT [FK_Journey_Boat]
GO
ALTER TABLE [dbo].[Journey]  WITH CHECK ADD  CONSTRAINT [FK_Journey_Port] FOREIGN KEY([BeginPosition])
REFERENCES [dbo].[Port] ([ID])
GO
ALTER TABLE [dbo].[Journey] CHECK CONSTRAINT [FK_Journey_Port]
GO
ALTER TABLE [dbo].[Journey]  WITH CHECK ADD  CONSTRAINT [FK_Journey_Port1] FOREIGN KEY([EndPosition])
REFERENCES [dbo].[Port] ([ID])
GO
ALTER TABLE [dbo].[Journey] CHECK CONSTRAINT [FK_Journey_Port1]
GO
ALTER TABLE [dbo].[Parameter]  WITH CHECK ADD  CONSTRAINT [FK_Parameter_Position] FOREIGN KEY([IDPosition])
REFERENCES [dbo].[Position] ([ID])
GO
ALTER TABLE [dbo].[Parameter] CHECK CONSTRAINT [FK_Parameter_Position]
GO
ALTER TABLE [dbo].[Position]  WITH CHECK ADD  CONSTRAINT [FK_Position_Journey] FOREIGN KEY([IDJourney])
REFERENCES [dbo].[Journey] ([ID])
GO
ALTER TABLE [dbo].[Position] CHECK CONSTRAINT [FK_Position_Journey]
GO
USE [master]
GO
